<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shipwreck.Subprocessing.Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shipwreck.Subprocessing.Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sharedListeners>
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="Shipwreck.Subprocessing.Host"
              switchType="System.Diagnostics.SourceSwitch"
              switchValue="All" >
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <userSettings>
    <Shipwreck.Subprocessing.Example.Properties.Settings>
      <setting name="UserSettingItem" serializeAs="String">
        <value>2</value>
      </setting>
    </Shipwreck.Subprocessing.Example.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Shipwreck.Subprocessing.Example.Properties.Settings>
      <setting name="AppSettingItem" serializeAs="String">
        <value>10</value>
      </setting>
    </Shipwreck.Subprocessing.Example.Properties.Settings>
  </applicationSettings>
</configuration>